
body { font-family: sans-serif; }
.bg-white { background-color: white; }
.text-blue-900 { color: #1e3a8a; }
.bg-blue-900 { background-color: #1e3a8a; }
.text-gray-700 { color: #374151; }
.text-gray-800 { color: #1f2937; }
.bg-green-700 { background-color: #047857; }
